.page {
    -webkit-animation: fadeIn 1s linear forwards;
    animation: fadeIn 1s linear forwards;
}

.header {
    float: left;
    margin: 10px;
    padding: 15px;
    border-left: 8px solid red;
    color: #464739;
    font-size: 56px;
    font-family: Didot, Baskerville, serif;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.header:hover, .header:focus {
    border-left: 30px solid red;
}

.goHome {
    float: left;
    position: fixed;
    margin-top: 50px;
    margin-left: 10px;
    color: mintcream;
    font-size: 12px;
    font-family: Didot, Baskerville, serif;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.divider {
    margin: 30px;
    padding: 25px;
    width: 60%;
    border-bottom: 1px solid lightgray;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    color: #464739;
    font-size: 18px;
    font-family: Didot, Baskerville, serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1; }
}